.heading {
    font-size: 72px;
    font-weight: 500;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.wallet, .exchange, .custom, .b2b{
    color: rgba(255,255,255,0.7);
}
