* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

section {
    padding: 100px 0 50px 0;
    background: #030C16;
}

/*navbar */

/* .navbar {
    background: #030C16;
} */

.navbar li a {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar li a:hover {
    color: #d3d3d3;
    text-decoration: none;
}

.contact-btn {
    padding: 0.5rem 2rem;
    background: transparent;
    color: #15F5FF;
    border: 1.5px solid #15F5FF;
    border-radius: 121px;
}

/* footer */

footer {
    background: rgba(17, 37, 68, 1);
}

.footer-wrapper {
    padding: 50px 0;
}

.footer-desc {
    color: rgba(255, 255, 255, 0.83);
    font-size: 14px;
}

.footer-list-head {
    color: #fff;
    font-size: 14px;
}

.footer-list {
    list-style-type: none;
}

.footer-list li {
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
}

.footer-bottom {
    background: rgba(11, 20, 36, 1);
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.83);
}

@media only screen and (max-width: 667px) {

    .nav-item {
        margin: 10px 0 10px -10px;
    }

    .contact-btn {
        width: 98%;
        margin-left: 10px;
    }
}