@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}


.heading{
    text-align: center;
    color: #fff;
    font-size: 72px;
    line-height: 82px;
    margin: 0 auto;
}

.about-item {
	text-align: center;
    background: rgba(3,12,22, 0.9);
	padding: 46px 10px;
	margin-bottom: 30px;
    border: 1px solid;
    --a:131deg;
    border-image: linear-gradient(131deg, #28DBF1 34.17%, #0E3464 58.12%) 50;
    transition: 0.5s;
}

.about-item:hover{
    transform: scale(1.01);
    border-image: linear-gradient(var(--a), #28DBF1 34.17%, #0E3464 58.12%) 50;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    100% {--a:491deg}
}

.about-img{
    border: 2px solid rgba(41, 217, 240, 0.1);
    padding: 1rem;
}

.about-item h4 {
	font-size: 22px;
	color: #fff;
	font-weight: 700;
	margin-top: 33px;
	margin-bottom: 25px;
}

.about-item p{
    color: rgba(255,255,255, 0.7);
}
